@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

header{
    position: absolute;
    width: 414px;
    height: 106px;
    left: 0px;
    top: 0px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.note-group{
    position: absolute;
    width: 332px;
    height: 474px;
    left: 41px;
    top: 150px;
    border: 10px solid #82328B;
    border-radius: 10px;
    font-family: 'Architects Daughter', cursive;
}

.btnsave{
    position: absolute;
    width: 54px;
    height: 54px;
    left: 315px;
    top: 570px;
    background-color: #CDE553;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Architects Daughter', cursive;
    font-size: 100%;
    color: #82328B;
}

.BtnNotas{
    position: absolute;
    width: 54px;
    height: 54px;
    left: 40px;
    top: 10px;
    background-color: #CDE553;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Architects Daughter', cursive;
    font-size: 100%;
    color: #82328B;
}

footer{
    position: absolute;
    width: 414px;
    height: 70px;
    left: 0px;
    top: 666px;
    background: #84CDA6;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}